@import "_variables.less";
@import "_vendor.less";
@import "_normalize.less";

html,
body {
	font-family: "jaf-bernino-sans", "AvenirNext-Medium", Verdana, Segoe, sans-serif;
	background: @color-background;
	color: @color-text;
	margin: 0;
	-moz-font-feature-settings: "onum=1,pnum=1,kern=false,liga=1";
	-webkit-font-feature-settings: "onum" 1,"pnum" 1,"kern" false, "liga" 1;
	-moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
	-o-font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
	font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
	font-variant:normal
}

a, a:visited {
	text-decoration: none;
	color: @color-link;
	&:hover, &:focus {
		color: @color-link-hover;
	}
	&:active {
		color: @color-link-active;
	}
}

.container {
	font-size: 0.8rem;
	max-width: 28em;
	@media screen and (min-width: @screen-small) {
		font-size: 1.25rem;
		line-height: 1.4;
		margin: 1.4em auto 4em auto;
		padding: 0 1.6em;
		transition: max-width 0.5s;
	}
	@media screen and (min-width: @screen-medium) {
		max-width: 36em;
	}
}

.comments {
	padding-top: 5em;
	padding-bottom: 5em;
	background: lighten(@color-background, 5%);
	border-width: 2px 0;
}

.hr {
	height: 2px;
	overflow: hidden;
	max-width: 100%;
}

.hr-image {
	width: 100%;
}

header, h1, h2, h3, h4, h5 {
	font-family: "jaf-bernina-sans-condensed", "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold", Futura, "Century Gothic", CenturyGothic, AppleGothic, Verdana, sans-serif;
	line-height: 1.1;
}

.opening + .container h1:first-of-type {
	top: 0;
	color: @color-header;
	position: absolute;
	text-shadow: 0 0 0.33em rgba(0, 0, 0, 0.5);
	font-size: 2rem;
	display: block;
	line-height: 0.95;
	text-transform: uppercase;
	margin-right: 2rem;
	@media screen and (min-width: @screen-small) {
		font-size: 3.5rem;
	}
	@media screen and (min-width: 29em) {
		font-size: 4.75rem;
		border: none;
	}
	@media screen and (min-width: 35em) {
		font-size: 5.5rem;
		top: 0.5em;
	}
	@media screen and (min-width: 43em) {
		font-size: 7rem;
		top: 0.5em;
	}
	@media screen and (min-width: @screen-medium) {
		max-width: 6.428571429em; // 45em / 7rem
	}
	@media screen and (min-width: @screen-large) {
		font-size: 8rem;
		top: 0em;
		max-width: 5.625em; // 45em / 8rem
	}
	& + p:first-of-type {
		font-size: 1.5rem;
		line-height: 1.3;
	}
}

.opening {
	width: 100%;
	max-height: 30em;
	overflow: hidden;
	z-index: -1;
	border-bottom: 2px solid white;
	margin: 0;
	padding: 0;
}

.opening-image {
	width: 100%;
	margin: 0;
	margin-bottom: -0.33em;
	padding: 0;
	opacity: 0.8;
	@media screen and (min-width: @screen-medium) {
		margin: 0;
		border-bottom: 0;
		display: block;
		position: relative;
		.translateY(-7em);
	}
	@media screen and (min-width: @screen-large) {
		.translateY(-16.5em);
	}
}

.post-list,
.post-list-item {
	list-style: none;
	margin: 0;
}

.post-list-link {
	font-size: 3rem;
	text-transform: capitalize;
	margin-top: 1em;
	h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.post-list-link {
	display: block;
}

blockquote {
	font-family: "jaf-bernina-sans-condensed", "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold", Futura, "Century Gothic", CenturyGothic, AppleGothic, Verdana, sans-serif;
	color: lighten(@color-text, 20%);
	font-weight: 400;
	margin-left: 1.5em;
	margin-right: 0;
	&:before {
		content: "\“";
		display: block;
		font-size: 10em;
		line-height: 1;
		position: relative;
		text-align: right;
		float: left;
		margin-left: -0.4em;
	}
	p:last-child {
		strong:only-child {
			font-style: normal;
			font-family: "jaf-bernino-sans", "AvenirNext-Medium", Verdana, Segoe, sans-serif;
			display: block;
			&:before {
				content: "\2014";
			}
			a {
				display: block;
				color: lighten(@color-link, 20%);
				margin-left: 1em;
				font-weight: normal;
			}
		}
	}
}

footer {
	margin-top: 5em;
	color: #888;
	font-size: 0.9rem;
	text-align: center
}
