@import "_variables.less";
@import "_vendor.less";
@import "_normalize.less";

html {
  font-family: @font-family-base;
  background: @color-background;
  color: @color-text;
  line-height: @line-height-base;
  font-variant: normal;
  .font-feature-settings("onum" 1, "pnum" 1, "kern" false, "liga" 1);
}

body {
  font-size: 1.25rem;
}

a, a:visited {
  text-decoration: none;
  color: @color-link;
  &:hover, &:focus {
    color: @color-link-hover;
  }
  &:active {
    color: @color-link-active;
  }
}

header, h1, h2, h3, h4, h5 {
  font-family: @font-family-base;
  line-height: 1.1;
  margin: 0;
}

footer {
  margin-top: 5em;
  color: #888;
  font-size: 0.9rem;
  text-align: center
}

/* Web Fonts */



/* Container
   For the main content and
   the header.
*/

.container {
  max-width: 28em;
  margin: 1.4em auto 4em auto;
  padding: 0 1.6em;
  transition: max-width 0.5s;
  img {
    width: 100%;
  }
  @media (min-width: @screen-medium) {
    max-width: 33em;
  }
}

/* Opening Image */

.opening {
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin: 0;
  padding: 0;
  max-height: 27rem;
  min-height: 5em;
  .opening-header {
    max-height: 27rem;
  }
  & + .container {
    p:first-of-type {
      font-size: 1.5rem;
      line-height: @line-height-base;
    }
  }
  & + .container h1:first-of-type {
    // Would be better to not generate this
    // in the first place.
    display: none;
    visibility: hidden;
  }
}

.opening-header {
  top: 0;
  width: 100%;
  position: absolute;
  color: @color-header;
  text-shadow: 0 0 1.75rem rgba(0, 0, 0, 0.5);
}

.opening-title {
  margin-top: 0.5em;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 800;
  font-size: 2.5rem;
  @media (min-width: @screen-medium) {
    font-size: 3rem;
  }
  @media (min-width: 29em) {
    font-size: 3.25rem;
  }
  @media (min-width: 35em) {
    font-size: 4.5rem;
  }
  @media (min-width: 39em) {
    font-size: 5.25rem;
  }
  @media (min-width: @screen-medium) {
    margin-top: 0.25em;
    font-size: 6.25rem;
  }
}

.opening-title--long {
  font-size: 2rem;
  @media (min-width: 30rem) {
    font-size: 2.5rem;
  }
  @media (min-width: @screen-medium) {
    font-size: 3rem;
  }
  @media (min-width: @screen-large) {
    font-size: 4rem;
  }
}

.opening-time {
  display: block;
  margin-top: 1em;
  margin-left: 0.25em;
}

.opening-image {
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.75;
  position: relative;
  display: block;
  @media (min-width: @screen-large) {
    .translateY(-25%);
  }
}

.opening-return {
  display: none;
  position: absolute;
  top: 0.5em;
}

.post-list,
.post-item,
.post-meta-list {
  list-style: none;
}

.post-list {
  margin-bottom: 3em;
}

.post-item {
  margin-bottom: 2em;
}

.post-item-title {
  font-size: 3rem;
  h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.post-item-title {
  display: block;
}

.post-meta-list {
}

.post-meta-item {
  display: inline-block;
  margin-left: 0.75em;
  &:first-child {
    margin-left: 0;
  }
}

/* Blockquotes
   Corresponding Markdown is:

   > This is the blockquote
   > **Author [Source](http://example.com/article.html)**

*/

blockquote {
  font-family: @font-family-alternate;
  color: lighten(@color-text, 20%);
  font-weight: 400;
  margin-left: 1.5em;
  margin-right: 0;
  &:before {
    content: open-quote;
    display: block;
    font-size: 10em;
    line-height: 1;
    position: relative;
    text-align: right;
    float: left;
    margin-left: -0.4em;
  }
  p:last-child {
    strong:only-child {
      font-style: normal;
      font-family: @font-family-base;
      display: block;
      &:before {
        content: "\2014";
      }
      a {
        display: block;
        color: lighten(@color-link, 20%);
        margin-left: 1em;
        font-weight: normal;
      }
    }
  }
}

/* Pullquotes
   Still working on a more Markdown-friendly solution
   Right now, use inline HTML as per:
   http://miekd.com/articles/pull-quotes-with-html5-and-css/
*/

@media (min-width: @screen-medium) {
  .pullquote:before {
    content: attr(data-pullquote);
    overflow: hidden;
    display: block;
    float: left;
    width: 40%;
    font-size: 1.66rem;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    color: lighten(@color-text, 20%);
    @media (min-width: 42em) {
      margin-left: -1.5em;
      margin-right: 1em;
    }
    @media (min-width: @screen-large) {
      margin-left: -3em;
      width: 50%;
    }
    font-family: @font-family-alternate;
  }
}

/* Code & Pre-formatted Content
   Still working on a way to do syntax highlighting
   on the web server side.

   Harp supports GitHub Flavoured Markdown, which
   will add a class to the code block if you specify
   a language:

   ```jade
   ul
     li Item 1
     li Item 2
   ```
*/

pre {
  background: @color-text;
  padding: 0.5em;
  border-radius: 0.125em;
  code {
    color: darken(@color-background, 10%);
  }
}

code {
  font-size: 90%;
  font-family: @font-family-monospace;
}

/* Comments */

.comments {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 8em;
  background: @color-gray;
  border: @color-gray solid;
  border-width: 2px 0;
}
