!!!
html(lang="en")
  head
    != partial("_shared/head")
    != partial("_shared/font-face")
  body
    .container.container--articles(role="main")
      != yield

      != partial("_shared/footer")
    if disqus
      != partial("_shared/comment-count")
    if analytics
      != partial("_shared/analytics")
