header.post-list-header
  h1.post-list-header-title <strong>#{ name }</strong> writes.
  p Hello, I’m an Canadian novelist and short story writer. My first novel, title <cite>Remedy</cite>, was released in 2010. This biography is in <code>index.jade</code> and #{ name } is a variable in the <code>harp.json</code> file.

!= partial("_shared/articles", { postlimit: 5 })