header.post-list-header
  h1.post-list-header-title <strong>#{ name }</strong> writes.
  p Hello, I’m an Canadian novelist and short story writer. My first novel, title <cite>Remedy</cite>, was released in 2010.

!= partial("_shared/articles", { postlimit: 5 })