!!!
html(lang="en")
  head
    != partial("../_shared/head")
    != partial("../_shared/font-face")
    != partial("../js/moment")
    != partial("../js/typogr")
  body
    //- For each image in public/images/
    for image in public.images.contents
      if image === current.path[1] + (".jpg" || ".png" || ".svg" || ".gif")
        //- If and image file matches the current path
        .opening
          //- Use it as the opening image
          img.opening-image(src="/images/#{ image }", alt="")
          header.opening-header
            .container
              if title
                h1.opening-title(class="#{ title.length > 30 ? 'opening-title--long' : '' }")!= typogr.typogrify(title)
              if date
                time.opening-time(datetime="#{ date }")!= typogr.typogrify(moment(date).format('MMMM Do YYYY'))

    .container(role="main", class="#{ typeof(type)!=='undefined' ? ' post-' + type : '' }")
      != typogr.typogrify(yield)

    if disqus
      .comments
        .container
          != partial("../_shared/comments")

    != partial("../_shared/footer")