ul.post-list
for article, slug in globals.public.articles.data
  li.post-list-item
    a.post-list-link(href="/articles/#{ slug }")
      h2= article.title
    if (typeof(globals.disqus) !== 'undefined') && (globals.disqus !== false) && (globals.disqus !== '')
      a.post-comment-link(href="/articles/#{ slug }#disqus_thread") Comments