footer.footer(role="contentinfo")
  .container
    if current.path[0] !== 'index' && current.path[1] !== 'index'
      p: a(href="/") Home
    p Built with <a href="http://harpjs.com">Harp</a>.
  if analytics
    != partial("_shared/analytics")