if current.path[0] === 'articles' && current.path[1] !=='index' && ((typeof(globals.disqus) !== 'undefined') && (globals.disqus !== false) && (globals.disqus !== ''))
  .comments
    .container
      != partial("comments")
  .container
    != partial("afterward")
else
  .container
    != partial("afterward")
    != partial("comment-count")
if globals.analytics !== false && (typeof(globals.analytics) !== 'undefined')
  != partial("analytics")