if current.path[0] === 'articles' && current.path[1] !=='index' && disqus
  .comments
    .container
      != partial("comments")
  .container
    != partial("afterward")
else
  .container
    != partial("afterward")
    != partial("comment-count")
if analytics
  != partial("analytics")